@import '../shared/styles/common.scss';

.selected_background {
    background-color: #0667D0;
    color: #FFF;
}

.cloned_background {
    background-color: rgb(122, 181, 240);
    color: #FFF;
}